<%= simple_form_for(@servico_pacote) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    
  <div style="border: #CCCCCC 1px solid; width: auto;  margin-left:auto; margin-right:auto; padding:5px; margin-top:25px;">
    <table align="center" height="15" cellspacing="20"  >
      <tr>
        <tr>
          <td align="center" bgcolor="#ECECEC" height="25" colspan="4" >
            <span style="font-weight: bold;">Dados de inserção de Pacote de Serviços</span></td>
        </tr>
        <tr>
          <td><%= f.input :dataInicio, label:"Data de Início" %></td>
          <td><%= f.input :dataRetorno, label:"Data de Retorno" %></td>
        </tr>
        <tr>
          <td><%= f.input :destino %></td>
          <td><%= f.input :localSaida, label:"Local de Saída" %></td>
        </tr>
        <tr>
          <td><%= f.input :nomeTrans, label:"Nome do Transporte" %></td>
          <td><%= f.input :veiculo, label:"Veículo" %></td>
        </tr>
        <tr>
          <td><%= f.input :cnpjTrans, :input_html => {:id=>"cnpj"}, label:"CNPJ Transportadora" %></td>
        </tr>
        <tr>
          <td><%= f.input :precoTrans, label:"Preço do Transporte" %></td>
          <td><%= f.input :nomeHotel, label:"Nome do Hotel" %></td>
        </tr>
        <tr>
          <td><%= f.input :cnpjHotel, :input_html => {:id=>"cnpj"}, label:"CNPJ Hotel" %></td>
          <td><%= f.input :descHotel, label:"Descr do Hotel" %></td>
        </tr>
        <tr>
          <td><%= f.input :descQuarto, label:"Descr do quarto" %></td>
          <td><%= f.input :precoHotel, label:"Preço do hotel" %></td>
        </tr>
        <tr>
          <td><%= f.input :descPacote, label:"Descr do pacote" %></td>
          <td><%= f.input :precoPacote, label:"Preço do pacote" %></td>
        </tr>
        
        </table>
    </div>
    
    <%= f.select :status, :collection => [:Ativo, :Inativo, :Andamento, :Parado, :Concluido] %>

  </div>

  <div class="actions">
     <%= f.submit "create"%>
  </div>
<% end %>