<p id="notice"><%= notice %></p>

<p>
  <strong>Datainicio:</strong>
  <%= @servico_pacote.dataInicio %>
</p>

<p>
  <strong>Dataretorno:</strong>
  <%= @servico_pacote.dataRetorno %>
</p>

<p>
  <strong>Destino:</strong>
  <%= @servico_pacote.destino %>
</p>

<p>
  <strong>Localsaida:</strong>
  <%= @servico_pacote.localSaida %>
</p>

<p>
  <strong>Nometrans:</strong>
  <%= @servico_pacote.nomeTrans %>
</p>

<p>
  <strong>Veiculo:</strong>
  <%= @servico_pacote.veiculo %>
</p>

<p>
  <strong>Cnpjtrans:</strong>
  <%= @servico_pacote.cnpjTrans %>
</p>

<p>
  <strong>Precotrans:</strong>
  <%= @servico_pacote.precoTrans %>
</p>

<p>
  <strong>Nomehotel:</strong>
  <%= @servico_pacote.nomeHotel %>
</p>

<p>
  <strong>Cnpjhotel:</strong>
  <%= @servico_pacote.cnpjHotel %>
</p>

<p>
  <strong>Deschotel:</strong>
  <%= @servico_pacote.descHotel %>
</p>

<p>
  <strong>Descquarto:</strong>
  <%= @servico_pacote.descQuarto %>
</p>

<p>
  <strong>Precohotel:</strong>
  <%= @servico_pacote.precoHotel %>
</p>

<p>
  <strong>Descpacote:</strong>
  <%= @servico_pacote.descPacote %>
</p>

<p>
  <strong>Precopacote:</strong>
  <%= @servico_pacote.precoPacote %>
</p>

<p>
  <strong>Status:</strong>
  <%= @servico_pacote.status %>
</p>

<%= link_to 'Edit', edit_servico_pacote_path(@servico_pacote) %> |
<%= link_to 'Back', servico_pacotes_path %>
