<p id="notice"><%= notice %></p>

<p>
  <strong>Datainicio:</strong>
  <%= @servico_passeio.dataInicio %>
</p>

<p>
  <strong>Dataretorno:</strong>
  <%= @servico_passeio.dataRetorno %>
</p>

<p>
  <strong>Destino:</strong>
  <%= @servico_passeio.destino %>
</p>

<p>
  <strong>Localsaida:</strong>
  <%= @servico_passeio.localSaida %>
</p>

<p>
  <strong>Nometrans:</strong>
  <%= @servico_passeio.nomeTrans %>
</p>

<p>
  <strong>Veiculo:</strong>
  <%= @servico_passeio.veiculo %>
</p>

<p>
  <strong>Cnpjtrans:</strong>
  <%= @servico_passeio.cnpjTrans %>
</p>

<p>
  <strong>Precotrans:</strong>
  <%= @servico_passeio.precoTrans %>
</p>

<p>
  <strong>Descpasseio:</strong>
  <%= @servico_passeio.descPasseio %>
</p>

<p>
  <strong>Precototal:</strong>
  <%= @servico_passeio.precoTotal %>
</p>

<p>
  <strong>Internacional:</strong>
  <%= @servico_passeio.internacional %>
</p>

<p>
  <strong>Status:</strong>
  <%= @servico_passeio.status %>
</p>

<%= link_to 'Edit', edit_servico_passeio_path(@servico_passeio) %> |
<%= link_to 'Back', servico_passeios_path %>
