<p id="notice"><%= notice %></p>

<p>
  <strong>Datainicio:</strong>
  <%= @servico_cruzeiro.dataInicio %>
</p>

<p>
  <strong>Dataretorno:</strong>
  <%= @servico_cruzeiro.dataRetorno %>
</p>

<p>
  <strong>Trajetoria:</strong>
  <%= @servico_cruzeiro.trajetoria %>
</p>

<p>
  <strong>Localsaida:</strong>
  <%= @servico_cruzeiro.localSaida %>
</p>

<p>
  <strong>Nomenavio:</strong>
  <%= @servico_cruzeiro.nomeNavio %>
</p>

<p>
  <strong>Empresanavio:</strong>
  <%= @servico_cruzeiro.empresaNavio %>
</p>

<p>
  <strong>Empresacnpj:</strong>
  <%= @servico_cruzeiro.empresaCnpj %>
</p>

<p>
  <strong>Descquarto:</strong>
  <%= @servico_cruzeiro.descQuarto %>
</p>

<p>
  <strong>Precoquarto:</strong>
  <%= @servico_cruzeiro.precoQuarto %>
</p>

<p>
  <strong>Desccruzeiro:</strong>
  <%= @servico_cruzeiro.descCruzeiro %>
</p>

<p>
  <strong>Precototal:</strong>
  <%= @servico_cruzeiro.precoTotal %>
</p>

<p>
  <strong>Nroquartos:</strong>
  <%= @servico_cruzeiro.nroQuartos %>
</p>

<p>
  <strong>Internacional:</strong>
  <%= @servico_cruzeiro.internacional %>
</p>

<p>
  <strong>Status:</strong>
  <%= @servico_cruzeiro.status %>
</p>

<%= link_to 'Edit', edit_servico_cruzeiro_path(@servico_cruzeiro) %> |
<%= link_to 'Back', servico_cruzeiros_path %>
