<section class="formulario">
  <%= simple_form_for(@pessoa_juridica) do |f| %>
    <% if @pessoa_juridica.errors.any? %>
        <h2>*Campos Obrigatorios</h2>
          <% end %>
        
<div style="border: #CCCCCC 1px solid; width: auto;  margin-left:auto; margin-right:auto; padding:5px; margin-top:25px;">
      <table align="center" height="15" cellspacing="20"  >
        <tr>
        <tr>
          <td align="center" bgcolor="#ECECEC" height="25" colspan="4" >
            <span style="font-weight: bold;">Dados Pessoa Jurídica</span></td>
        </tr>
        <tr>
          <td><%= f.input :nome, label:"Razão Social" %></td>
          <td><%= f.input :cnpj, :input_html => {:id=>"cnpj"} %></td>
          <td><%= f.input :email, label:"E-mail de contato" %></td>
        </tr>
        <tr>
          <td><%= f.input :nomeResp, label:"Nome do Responsável" %></td>
          <td><%= f.input :cargo, label:"Cargo" %></td>
          <td><%= f.input :cpf, :input_html => {:id=>"cpf"}, label:"CPF" %></td>
        </tr>
        <tr>
          <td><%= f.input :telefone %></td>
        </tr>
        </table>
    </div>

    <div style="border: #CCCCCC 1px solid; width: auto;  margin-left:auto; margin-right:auto; padding:5px; margin-top:25px;">
      <table align="center" height="15" cellspacing="20"  >
        <tr>
        <tr>
          <td align="center" bgcolor="#ECECEC" height="25" colspan="4" ><span style="font-weight: bold;">Endereço</span></td>
        </tr>
        <tr >
          <%= f.simple_fields_for :endereco do |f2| %>
            <td><%= f2.input :cep, :as=> :string, :input_html => {:id=>"cep",  :onBlur=> "getEndereco()"}%></td>
            <td> <%= f2.input :pais, :input_html => {:id=>"pais", :readonly=>"true"}  %></td>
            <td> <%= f2.input :estado, :input_html => {:id=>"estado", :readonly=>"true"} %></td>
            <td> <%= f2.input :cidade, :input_html => {:id=>"cidade", :readonly=>"true"}  %></td>
          </tr>
          <tr>
            <td><%= f2.input :endereco, :input_html => {:id=>"endereco", :readonly=>"true"}  %></td>
            <td><%= f2.input :numero, :as=> :string %></td>
            <td><%= f2.input :complemento %></td>
            <td><%= f2.input :bairro, :input_html => {:id=>"bairro", :readonly=>"true"} %></td>
          <%end%>
        </tr>
        <tr>
          <td><%= f.input :observacao %></td>
        </tr>
      </table>
    </div>

   
    <%= f.input :recebe_email %><br />
    <%= f.select :status, :collection => [:Ativo, :Inativo, :Desativado, :Cancelado] %>

    <div id="Sub">
      <%= f.submit "create"%>
    </div>
  <% end %>
</section>