<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @pessoa_juridica.nome %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @pessoa_juridica.cnpj %>
</p>

<p>
  <strong>Email:</strong>
  <%= @pessoa_juridica.email %>
</p>

<p>
  <strong>Nomeresp:</strong>
  <%= @pessoa_juridica.nomeResp %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @pessoa_juridica.cargo %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @pessoa_juridica.cpf %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @pessoa_juridica.telefone %>
</p>

<p>
  <strong>Observacao:</strong>
  <%= @pessoa_juridica.observacao %>
</p>

<p>
  <strong>Recebe email:</strong>
  <%= @pessoa_juridica.recebe_email %>
</p>

<p>
  <strong>Nrocompra:</strong>
  <%= @pessoa_juridica.nroCompra %>
</p>

<p>
  <strong>Status:</strong>
  <%= @pessoa_juridica.status %>
</p>

<%= link_to 'Edit', edit_pessoa_juridica_path(@pessoa_juridica) %> |
<%= link_to 'Back', pessoa_juridicas_path %>
