<p id="notice"><%= notice %></p>

<p>
  <strong>Datainicio:</strong>
  <%= @servico_evento.dataInicio %>
</p>

<p>
  <strong>Dataretorno:</strong>
  <%= @servico_evento.dataRetorno %>
</p>

<p>
  <strong>Destino:</strong>
  <%= @servico_evento.destino %>
</p>

<p>
  <strong>Localsaida:</strong>
  <%= @servico_evento.localSaida %>
</p>

<p>
  <strong>Nometrans:</strong>
  <%= @servico_evento.nomeTrans %>
</p>

<p>
  <strong>Veiculo:</strong>
  <%= @servico_evento.veiculo %>
</p>

<p>
  <strong>Cnpjtrans:</strong>
  <%= @servico_evento.cnpjTrans %>
</p>

<p>
  <strong>Precotrans:</strong>
  <%= @servico_evento.precoTrans %>
</p>

<p>
  <strong>Descevento:</strong>
  <%= @servico_evento.descEvento %>
</p>

<p>
  <strong>Nomeevento:</strong>
  <%= @servico_evento.nomeEvento %>
</p>

<p>
  <strong>Precoconvite:</strong>
  <%= @servico_evento.precoConvite %>
</p>

<p>
  <strong>Nrolugares:</strong>
  <%= @servico_evento.nroLugares %>
</p>

<p>
  <strong>Precototal:</strong>
  <%= @servico_evento.precoTotal %>
</p>

<p>
  <strong>Internacional:</strong>
  <%= @servico_evento.internacional %>
</p>

<p>
  <strong>Status:</strong>
  <%= @servico_evento.status %>
</p>

<%= link_to 'Edit', edit_servico_evento_path(@servico_evento) %> |
<%= link_to 'Back', servico_eventos_path %>
