<h1>Listing vendas</h1>

<table>
  <thead>
    <tr>
      <th>Data venda</th>
      <th>Forma pagamento</th>
      <th>Status</th>
      <th>Tipo cliente</th>
      <th>Valor total</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @vendas.each do |venda| %>
      <tr>
        <td><%= venda.data_venda.to_s_br %></td>
        <td><%= venda.forma_pagamento %></td>
        <td><%= venda.status %></td>
        <td><%= venda.tipo_cliente %></td>
        <td><%= venda.valor_total %></td>
        <td><%= link_to 'Show', venda %></td>
        <td><%= link_to 'Edit', edit_venda_path(venda) %></td>
        <td><%= link_to 'Destroy', venda, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Venda', new_venda_path %>
